<!--views/frontend/home.ejs-->

<link href="/styles/frontend/home.css" rel="stylesheet">

<section class="Home">
    <div class="feature-post">
        <% if(data.items){ %>
            <% 
            if(data.items.length < 4){
                var items = data.items.length
            }else{
                var items = 4
            }
            %>
            <% for(let v=0; v<items; v++){ %>
                <a href="/post/<%= data.items[v].id %>">
                    <img src="<%= data.items[v].thumb %>" />
                    <% if(data.items[v].videos){ %>
                        <% if((data.items[v].videos !== "") && (data.items[v].videos !== "[]")){ %>
                            <img class="play-icon" src="/images/play.png"/>
                        <% } %>
                    <% } %>
                    <span class="title"><%= data.items[v].title %></span>
                </a>
            <% } %>
        <% } %>
    </div>

    <div>
        <%- include("./front-ad.ejs") %>
    </div>

    <main>
        <div class="content">
            <% if(data.items.length > 4){ %>
                <% for(let v=4; v<data.items.length; v++){ %>
                <div class="post">
                    <a class="thumb" href="/post/<%= data.items[v].id %>">
                        <img src="<%= data.items[v].thumb %>" />
                        <% if(data.items[v].videos){ %>
                            <% if((data.items[v].videos !== "") && (data.items[v].videos !== "[]")){ %>
                                <img class="play-icon" src="/images/play.png"/>
                            <% } %>
                        <% } %>
                    </a>

                    <div class="text">
                        <a href="/post/<%= data.items[v].id %>" class="title">
                            <%= data.items[v].title %>
                        </a>
                        <div class="date">
                            <%= (new Date(data.items[v].date)).toLocaleDateString("it-IT") %>
                        </div>
                        <div class="except"><%- data.items[v].content %></div>
                    </div>
                </div>
                <% } %>
            <% } %>
            
            <div class="select-pagination">
                <span>​​​​​​​​​​​​​​​​​​​​​ទំព័រ </span>
                <select class="page" onchange="onChangeHandler()">
                    <% if(data.totalItems){ %>
                        <% for(let v=0; v<data.pageNumber; v++){ %>
                            <option><%= v+1 %></option>
                        <% } %>
                    <% } %>
                </select>
                <span> នៃ <%= data.pageNumber %></span>
            </div>
            <script>
                function onChangeHandler(){
                    location.href = "/?page="+$( ".page option:selected" ).text()
                }

                const changeSelected = (e) => {
                    const text = '<%= data.currentPage %>'
                    const $select = document.querySelector('.page')
                    const $options = Array.from($select.options)
                    const optionToSelect = $options.find(item => item.text === text)
                    optionToSelect.selected = true
                }

                changeSelected()
            </script>
        </div>
        <div class="sidebar">
            <%- include('./sidebar.ejs') %>
        </div>
    </main>
</section>