<!--views/frontend/search.ejs-->

<link href="/styles/frontend/category.css" rel="stylesheet">

<section class="Category">
    <div>
        <%- include("./front-ad.ejs") %>
    </div>
    
    <main>
        <div class="content">
            <% if(data.items){ %>
                <% for(let v=0; v<data.items.length; v++){ %>
                <div class="post">
                    <a class="thumb" href="/post/<%= data.items[v].id %>">
                        <img src="<%= data.items[v].thumb %>" />
                        <% if(data.items[v].videos){ %>
                            <% if((data.items[v].videos !== "") && (data.items[v].videos !== "[]")){ %>
                                <img class="play-icon" src="/images/play.png"/>
                            <% } %>
                        <% } %>
                    </a>

                    <div class="text">
                        <a href="/post/<%= data.items[v].id %>" class="title">
                            <%= data.items[v].title %>
                        </a>
                        <div class="date">
                            <%= (new Date(data.items[v].date)).toLocaleDateString("it-IT") %>
                        </div>
                        <div class="except"><%- data.items[v].content %></div>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
        <div class="sidebar">
            <%- include('./sidebar.ejs') %>
        </div>
    </main>
</section>